Description=gunicorn daemon
Requires=gunicorn.socket
After=network.target

[Service]
User=chess
Group=chess
WorkingDirectory=/home/chess/www/goodauto.by
ExecStart=/home/chess/www/goodauto.by/.venv/bin/gunicorn \
  --workers 3 \
  --bind unix:/run/gunicorn.sock \
  goodauto.wsgi:application \
  --access-logfile /home/chess/www/goodauto.by/logs/gunicorn/access.log \
  --error-logfile /home/chess/www/goodauto.by/logs/gunicorn/error.log
Restart=on-failure

[Install]
WantedBy=multi-user.target
